
/*
Guia de Colores
azul oscuro: #262261; (footer)
amarillo: #faaf40;
rosado-naranja: #e54d42;
rojo: #be1e2d;
morado oscuro:#712b8c;
rosado: #b62271;
*/

/* Generales */
html, body{ margin:0; padding:0;  height:100% }
*{
    font-family:"Calibri", sans-serif;
    
}
*:focus, button:focus {
    outline: none!important;
    
}
.font-600{
    font-weight:600;
}
.color-azul{
    color:#305da6!important;
}
.color-gris{
    color:#848383!important;
}
.color-gris-claro{
	color:rgb(238,240,239) !important;
}

.color-gris-oscuro{
    color:rgb(91,91,91) !important;
}
.color-white{
	color:white!important;
}
.bg-azul{
	background-color:#2f5da8!important;
}
.bg-gris{
	background-color:rgb(238,240,239) !important;
}
.width100{
	width:100%!important;
}

.nav>li>a{
    padding:10px 0!important;
}
.nivel1{
	z-index:11!important;
}
.nivel2{
	z-index:12!important;
}
.nivel3{
	z-index:13!important;
}
.nivel4{
	z-index:14!important;
}

.screen{
    z-index:10;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:white;
    padding: 0 10px;
}
.body-screen{
    margin-top:59px;
}
.container{
    height:100%;
    overflow-y:scroll;
    background-color:transparent;
}
.container-flex{
	
    display:flex;
    flex-direction:column;
    justify-content:start-flex;
    margin: auto 5%;
	height:auto;
}
footer{
    
    background-color:#262261;
    color:white;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
}
footer table{
    width:100%;
    text-align:center;
}
footer table tbody tr td{
    width:20%;
}
footer table tr td button{
    background-size:contain;
    background-repeat:no-repeat;
    width:30px;
    height:30px;
}
.screen-header{
    height:60px;
    width:100%;
    background-color:#2f5da8;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    font-size:20px;
    color:white;
    
}
.text-header{
    margin:22px 0 0 10px;
    display:inline-block;
}
.text-header2{
    margin:22px 0 0 50px;
    display:inline-block;
}
button{
    /*
    background-color:inherit;
    border:none!important;
    margin: 10px 0;
    */
    outline: none;
}
input,select{
    background-color:inherit;
    margin: 15px 0!important;
    position:inherit!important;

}

select.select_formR{
    background-image:url(../img/iconos/arrowDB.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px 100%;
}

.grad {
  background: #00a7ff; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #00a7ff, #305da6); /* Safari */
  background: -o-radial-gradient(circle, #00a7ff, #305da6); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #00a7ff, #305da6); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #00a7ff, #305da6);/* Standard syntax */
}
.menu{
    position:absolute;
    top:17px;
    right:10px;
    background-color:transparent;
    border:none;

}
.return{
    position:absolute;
    top:17px;
    left:10px;
    background-color:transparent;
    border:none;
}
.nav-tabs{
    margin-left:-10px;
    margin-right:-10px;
    color:white;
    background-color:#305da6;
    font-size: 12px;
    height: 41px;
}
.nav-tabs>li{
    padding: 0;
    text-align: center;
}
.nav>li>a{
    color:white!important;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #305da6;
    border-bottom: 4px solid #fff;
    border-right: none;
    border-left: none;
    border-top: none;
}
.slick-dots li button:before, .slick-dots li.slick-active button:before{
    color:white;
    font-size:10px;
}
.container-input-login{
    width: 270px;
    margin: 0 auto;
    border-bottom: white 1px solid;
}
.container-input-register{
    width: 270px;
    margin: 0 auto!important;
    border-bottom: white 1px solid;
    padding: 10px 0;
}
.input-login::-webkit-input-placeholder, 
.input-register::-webkit-input-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white!important;
   opacity:  0.9;
}
.input-login{
    width: 250px;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    font-size:15px;
    box-shadow:none;
}
.input-login:focus{
	box-shadow:none;
}
.input-register{
    width: 220px;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    font-size:15px;
    margin: 0!important;
}
.login-btn{
    background-color: transparent!important;
    margin: 20px auto;
    width: 270px;
    border: 1px solid white;
    color: white!important;
    height: 50px;
    border-radius: 8px;
}
.register-btn{
    background-color: #2174c4!important;
    margin: 20px auto;
    width: 270px;
    border: 1px solid white;
    color: white!important;
    height: 50px;
    border-radius: 8px;
}

.requerimiento-btn{
    background-color: #2174c4!important;
    margin: 20px auto;
    width: 270px;
    border: 1px solid white;
    color: white!important;
    height: 50px;
    border-radius: 8px;
}

.propiedad-btn{
    background-color: #2174c4!important;
    margin: 20px auto;
    width: 270px;
    border: 1px solid white;
    color: white!important;
    height: 50px;
    border-radius: 8px;
}

.tutorial-img{

    background-repeat: no-repeat;
    background-size: 85%;
    height: 130px;
    width: 130px;
    margin: 10px auto 0;
    background-position: center;
}
.tutorial-seccion{
    position:relative;
    height:200px;
    width:200px;
}
.tutorial-texto{
    margin: 20px auto 0;
    letter-spacing: 1px;
    font-size: 18px;font-weight:100;
    width:90%;
}
.forgot-password{
    width: 200px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 auto;
    height: 25px;
    display: block;
}
.login-text{
    width: 200px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 10px auto;
    height: 25px;
    display: block;
    background-color:transparent;
    border: none;
}
.icon-form{
    display:inline-block;
    width:20px;
    height:20px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    float:left;
    margin-top:7px;
}
.terms-conds{
    width: 70%;
    margin: 10px auto 0;
    text-align: center;
    color: white;
    font-weight: 100;
}
.terms-conds a{
    color: white!important;
    text-decoration: underline;
}
.img-list-propiedades{
    height:100%;
    width:100%;
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top:0;
    left:0;
}

.img-list-requerimientos{
    height: 100%;
    width: 80%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute; */
    top: 0;
    left: 5px;
}

#propiedades-ul li, #requerimientos-ul li{
    list-style:none;
}
#propiedades-ul, #requerimientos-ul{
    margin:0;
    padding:0;
    height:100vh;
    overflow-y:scroll;
    width:106%;
}
.table-propiedad, .table-requerimiento{
	margin-left: 10px;
    width: 90%;
    table-layout: fixed;
    white-space: nowrap;
}

.icono-m2{
	width:20px;
	height:12px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin:0!important;
	padding:0!important;
	display:inline-block;
	background-image:url(../img/iconos/mt.png);
}
.icono-niveles{
	width:20px;
	height:12px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin:0!important;
	padding:0!important;
	display:inline-block;
	background-image:url(../img/iconos/niveles.png);
}
.icono-habitaciones{
	width:20px;
	height:12px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin:0!important;
	padding:0!important;
	display:inline-block;
	background-image:url(../img/iconos/habitaciones.png);
}
.icono-parqueos{
	width:20px;
	height:12px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin:0!important;
	padding:0!important;
	display:inline-block;
	background-image:url(../img/iconos/parqueos.png);
}
.icono-banos{
	width:20px;
	height:12px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin:0!important;
	padding:0!important;
	display:inline-block;
	background-image:url(../img/iconos/banos.png);
}
.propiedad, .requerimiento{
	height:110px;
	width:97%;
}
.agregar-propiedad{
	width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0!important;
    padding: 0!important;
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-image: url(../img/iconos/Agregar-propiedad.png);
    border: none;
}
.agregar-requerimiento{
	width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0!important;
    padding: 0!important;
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-image: url(../img/iconos/Agregar-requerimiento.png);
    border: none;
}
.icono-casa{
	width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0!important;
    padding: 0!important;
    background-image: url(../img/iconos/agregar-propiedad-casa-desmarcado.png);
    border: none;
}
.icono-oficina{
	width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0!important;
    padding: 0!important;
    background-image: url(../img/iconos/agregar-propiedad-oficinas-desmarcado.png);
    border: none;
}
.icono-terreno{
	width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0!important;
    padding: 0!important;
    background-image: url(../img/iconos/agregar-propiedad-terreno-desmarcado.png);
    border: none;
}
.icono-apartamento{
	width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0!important;
    padding: 0!important;
    background-image: url(../img/iconos/agregar-propiedad-edificio-desmarcado.png);
    border: none;
}
.scroll {
   width: 200px;
   height: 400px;
   background: transparent;
   overflow: scroll;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    border-radius: 0px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none; 
}
.container-form{
	background-color:white;
	padding:20px 10px;
	margin-bottom:10px;
    overflow-x: scroll !important;
}
.titulo-container-form{
	color:rgb(151,151,151) ;
	font-size:12px!important;
}
.btn-form-tipo-requerimiento{
	margin: 0 auto!important;
    width: 90%;
    display: block;
    height: 40px;
    border: none;
    border-radius: 5px;
}
/*switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 22px;
  margin:5px 0 0 0!important;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #305da6!important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #305da6!important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*termina switch*/
.texto-nuevo-requerimiento{
	color: rgb(58,58,58) ;
    font-size: 12px!important;
	
}
.table-nuevo{
	width:100%;
	text-align:center;
}

input[type=radio].tipo_operacion{
    -webkit-appearance: none;
    background-color: transparent;
}
input[type=radio].tipo_operacion{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color:rgb(238,240,239) ;
    border-radius: 5px;
}
input[type=radio].tipo_operacion + label{
    display: block;
    width: 80px;
    margin: -53px auto 0;
    color:#2f5da8;;
}
input[type=radio]:checked.tipo_operacion{
    background-color:#2f5da8!important;
    
}
input[type=radio]:checked.tipo_operacion + label{
    color:white!important;
}
 input[type=radio].tipo_inmueble{
    -webkit-appearance: none;
    background-color: transparent;
}
 input[type=radio].tipo_inmueble.tipo_casa
{
    background-image: url(../img/iconos/agregar-propiedad-casa-desmarcado.png);
    height:70px;
    width:70px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
 input[type=radio]:checked.tipo_inmueble.tipo_casa
{
    background-image: url(../img/iconos/agregar-propiedad-casa-marcado.png);

}
 input[type=radio].tipo_inmueble.tipo_apartamento
{
    background-image: url(../img/iconos/agregar-propiedad-apartamento-desmarcado.png);
    height:70px;
    width:70px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
 input[type=radio]:checked.tipo_inmueble.tipo_apartamento
{
    background-image: url(../img/iconos/agregar-propiedad-apartamento-marcado.png);
}
 input[type=radio].tipo_inmueble.tipo_terreno
{
    background-image: url(../img/iconos/agregar-propiedad-terreno-desmarcado.png);
    height:70px;
    width:70px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
 input[type=radio]:checked.tipo_inmueble.tipo_terreno
{
    background-image: url(../img/iconos/agregar-propiedad-terreno-marcado.png);
}
 input[type=radio].tipo_inmueble.tipo_oficina
{
    background-image: url(../img/iconos/agregar-propiedad-oficinas-desmarcado.png);
    height:70px;
    width:70px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
 input[type=radio]:checked.tipo_inmueble.tipo_oficina
{
    background-image: url(../img/iconos/agregar-propiedad-oficinas-marcado.png);
}
 input[type=radio].tipo_inmueble.tipo_local
{
    background-image: url(../img/iconos/agregar-propiedad-locales-desmarcado.png);
    height:70px;
    width:70px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
 input[type=radio]:checked.tipo_inmueble.tipo_local
{
    background-image: url(../img/iconos/agregar-propiedad-locales-marcado.png);
}
 input[type=radio].tipo_inmueble.tipo_edificio
{
    background-image: url(../img/iconos/agregar-propiedad-edificio-desmarcado.png);
    height:70px;
    width:70px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
 input[type=radio]:checked.tipo_inmueble.tipo_edificio
{
    background-image: url(../img/iconos/agregar-propiedad-edificio-marcado.png);
}
.input_caract_min_inmueble{
    border: none;
    text-align: center;
    margin: 0!important;
    max-width:60px;
}
.titulo_caract_min_inmueble{
    font-size: 10px;
    text-align: center;
}
.btn_mas_menos{
    background-color: rgb(238,240,239);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    border: none;
    line-height: 16px;
    font-size: 16px;
}
.icono_caract_min_inmueble{
    width: 35px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin:0 auto;

}


td.icon_ti{
    padding-left: 3.5px;
    padding-right: 3.5px;
}

.inputText{
    border-bottom: 1px solid #D7D7D7 !important;
}


.arrowD{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}
.arrowU{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    float: right;
}


.slider_text{
    position: absolute;
    top: 22px;
    font-size: 8px;
    left: 5px;
}


/* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO */
/* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO */
/* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO *//* DIEGO */


#nueva_propiedad_{
    background-color: white;
}

.screen-header table tr td{
    vertical-align: middle;
}

.text-header2{
    margin-top: 18px !important;
}

#mapa_{
    width: 100%;
    height: 200px;
    background-color: green;
}

#nueva_propiedad_ .container-flex{
    margin: 0 auto;
}

.estrellitas table tr{
    border-bottom: 1px solid #eaeaea;
}

.estrellitas table tr td{
    height: 40px;
    vertical-align: middle;
}

.estrellitas .texto-nuevo-requerimiento{
    color: #999;
}

.rating {
    overflow: hidden;
    display: inline-block;
    float: right;
    width: 100px;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
    margin: 0 !important;
    display: none;
}

.rating-star {
    cursor: pointer;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px;
    margin: 1px !important;
}

.rating-star:hover {
    background-position: 0 0;
}

.rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star {
    background-position: 0 0;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px;
}